name: CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: env
    env:
      MONGO_DB_USR: ${{secrets.MONGO_DB_USR}}
      MONGO_DB_PWD: ${{secrets.MONGO_DB_PWD}}
      MONGO_DB_HOST: ${{secrets.MONGO_DB_HOST}}
      PORT: ${{secrets.PORT}}
      PORTLog: ${{secrets.PORTLog}}
      MONGO_DB_NAME: ${{secrets.MONGO_DB_NAME}}
      MONGO_DB_COLLECT: ${{secrets.MONGO_DB_COLLECT}}
      username: ${{ secrets.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install
        working-directory: .

      - name: Install Development Dependencies
        run: npm install --save-dev
        working-directory: .

      - name: Run Tests
        run: npm run test

      - name: Seed Data
        run: npm run seed

      - name: Cleanup
        run: npm ci

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          dockerfile: ./Dockerfile
          push: true
          tags: gregorioestevez/clockbox:latest
